.idea
.vagrant
.DS_Store
servers/*
!servers/magento1.local
servers/magento1.local/*
!servers/magento1.local/composer.json
shell/prj/*
!shell/prj/magento1.local.sh
!shell/prj/magento1-phpmyadmin.local.sh
!shell/prj/magento1-apcadmin.local.sh
temp
Vagrantfile
ext